body {
    margin: 0;
}


.quote {
    font-size: 36px;
    font-weight: light-italic;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(91, 3, 3, 0.805) ;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    flex: 0 1 0;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid black;

}

h3 {
    font-size: 24px;
    display: flex;
    justify-self: flex-start;
    margin-right: auto;

}

.desc {
    color: antiquewhite;
    padding: 10px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: antiquewhite;
    padding: 10px;   
}

h5 {

font-size: 36px;
font-weight: extra-bold;
display: flex;
justify-content: center;
}

.homescreen {
    width: 600px;
    height: auto;
    display: flex;
    flex: 0 1 0;
    padding-top: 30px;
}

.but {
    border: 2px solid rgb(91, 3, 3);
    font-size: 16px;
    padding: 12px;
    width: 120px;
    height: auto;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
    background-color: rgb(91, 3, 3);
    border: 2px solid black;
    padding: 10px;
    align-items: center;
}

main {
    display: flex;
    background-color: black;
    padding: 10px;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer {
    display: flex;
    background-color: rgb(91, 3, 3);
    border: 4px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    flex: 0 1 1;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}

.contact {
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.ask {
    font-size: 18px;
    font-weight: bold;
}

.ton {
    border: 2px solid rgb(91, 3, 3);
    font-size: 14px;
    margin: 30px;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.i {
    width: 200px;
    height: auto;
    flex: 0 1 1;
    border: 4px solid black;
    align-items: center;
   
}

.e {
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 1 0;
    font-weight: bold;
    align-items: center;
    justify-content: center;
   width: 200px;
   text-align: center;
}